<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>SOSIFOD</title>
	<meta charset="UTF-8">
	<link rel='shortcut icon' href='/favicon.ico'>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet">
	<link href="/css/app.css" rel="stylesheet">
</head>
<body>
<!-- CONTENT -->

<form class="login" action="/views/intimations.html">
	<img class="login__image" src="/images/logo.svg" alt="Logo SOSIFOD" title="Logo SOSIFOD">
	<input class="login__input" type="text" name="cpf" placeholder="CPF" data-mask="000.000.000-00">
	<input class="login__input" type="password" name="password" placeholder="SENHA">
	<button class="button button--primary" type="submit">LOGIN</button>
</form>

<!-- END CONTENT -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/imask/6.0.3/imask.min.js"></script>
<script src="/js/app.js"></script>
</body>
</html>